@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background: #fff; /* fallback for old browsers */
}
* {
  margin: 0;
  padding: 0;
}
i{
  margin-right: 10px;
}
.navbar-logo{
  padding: 15px;
  color: #fff;
}
.navbar-logo img{
  width: 150px;
  height: 50px;
}
.navbar-mainbg{
  background-color: #000000;
  padding: 0px;
}
#navbarSupportedContent{
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul{
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i{
  margin-right: 10px;
}
#navbarSupportedContent li{
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a
{
  color: #000000;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after{
  content: 'f105';
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after{
  transform: rotate(90deg);
}
.hori-selector{
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right{
  right: -25px;
}
.hori-selector .left{
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
}
.hori-selector .right:before{
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before{
  bottom: 0;
  left: -25px;
}
@media (max-width: 991px) {
  #navbarSupportedContent ul li a{
    padding: 12px 30px;
  }
  .hori-selector{
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right{
    right: 10px;
  }
  .hori-selector .left{
    top: -25px;
    left: auto;
  }
  .hori-selector .right{
    bottom: -25px;
  }
  .hori-selector .left:before{
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before{
    bottom: -25px;
    left: -25px;
  }
}

.text{
  color: #456389;
}
.container{
  margin: auto;
  padding: auto;
  width: auto;
  height: auto;
}
.container h1{
  text-align: center;
  margin-top: 50px;
}
.slider{
  margin: auto;
  padding: auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.slides{
  width: 500%;
  height: auto;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 1s;
}
.slide img{
  width: 100%;
  height: auto;
}
.navigation-manual{
  visibility: hidden;
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid #0000;
  padding: 5px;
  border-radius: 10px;
  cursor: auto;
  transition: 0.5s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background: #28A457;
}

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -80%;
}

.navigation-auto{
  visibility: hidden;
  display: flex;
  justify-content: center;
  margin-top: 460px;
  position: absolute;
  width: 800px;

}

.navigation-auto div{
border: 2px solid #28A457;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.navigation-auto div:not(:last-child){
margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #28A457;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #28A457;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #28A457;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #28A457;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #28A457;
}

footer{
  height: auto;
  width: 100%;
  padding: 0;
  margin-top: 10%;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  bottom: 0;
}
footer .con{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
}

footer .con .sec{
  position: relative;
  margin-right: 30px;
  width: 40%;
}
footer .con .sec h2{
  position: relative;
  top: 0;
  left: 30px;
  color: #fff;
  font-weight: 500;
}
footer .con h2:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 185px;
  height: 2px;
  background: #f00;
}
footer p{
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
  color: #999;
  font-size: 0.7em;
}
.sci{
  position: relative;
  display: flex;
  margin-top: 2%;
  margin-left: 30%;
  float:left;
  box-sizing: border-box;
}
.sci li{
  list-style: none;
}
.sci li a{
  position: relative;
  display: block;
  margin-top: 30px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover{
  background: #f00;
}
@media (max-width: 991px){
  footer{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70%;
  }
  footer .con .sec h2{
    position: relative;
    top: 0;
    left: 30px;
    color: #fff;
    font-weight: 500;
  }
  footer .con .sec{
    position: relative;
    margin-right: 30px;
    width: 100%;
    margin: auto;
    padding: auto;
  }
  footer p{
    position: relative;
    color: #999;
    font-size: 0.7em;
  }
  .sec h2{
    margin: auto;
    padding: auto;
  }
  .sci{
    position: relative;
    display: flex;
    margin: auto;
    padding: auto;
    float:left;
    box-sizing: border-box;
  }
}
